* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-main: #f5f8ff;
  --color-text: #333;
  --color-white: #fff;
  --color-black-light: #333;
}
