* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}

:root {
  --bg-main: #3f3752;
  --bg-purple: #51446e;

  --color-white: #ffffff;

  --color-blue-light: #4eb7ff;
  --color-pink-light: #fd6494;
  --color-green-light: #43f390;
  --color-green-bold: #e67e22;
  --color-orange-bold: #37ba82;
  --color-purple-normal: #cd57ff;
}
